main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 50vh;
    margin: 50px 20%;
    padding: 0;
}

main h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(66, 66, 66);
    text-transform: capitalize;
}

.welcome-text {
    font-size: 24px;
    font-weight: normal;
    color: #464646;
    margin-top: 0;
    margin-bottom: 40px;
}

.admin-nav {
    width: 100%;
}

.admin-nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.admin-nav li {
    display: flex; 
}

.admin-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: #005EB8;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.admin-nav a:hover {
    background-color: #002e58;
}

.admin-nav a.router-link-exact-active {
    background-color: #ffee00;
    color: #003d75;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
    cursor: default;
}

@media screen and (max-width: 768px) {
    main {
        margin: 20px 10%;
    }
}