@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.admin-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin: 10px 20%;
    padding: 50px 0;
}

.admin-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #005EB8; 
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.admin-links a:hover {
    background-color: #002e58;
}


.admin-links a.router-link-exact-active {
    background-color: #ffee00; 
    color: #003d75;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
    cursor: default; 
}